.detail__container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-box {
  box-sizing: border-box;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.49);
}

.detail__name {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.detail-img__container {
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: auto;
}

.detail__img {
  max-height: 100%;
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.8);
}

.detail-img-btn__container {
  width: 100%;
  height: 4vh;
  position: relative;
  padding: 5px 0 30px 0;
  margin-bottom: 10px;
}

.detail-btn {
  position: absolute;
  font-size: 1.3rem;
  background-color: transparent;
  border: none;
  bottom: 0;
}

.detail-btn:hover {
  cursor: pointer;
}

.detail__prev {
  left: 0;
}

.detail__next {
  right: 0;
}

.detail__description {
  text-indent: 10px;
  font-size: 0.9rem;
  max-height: 20vh;
  overflow: auto;
}

.detail__description::-webkit-scrollbar {
  width: 10px;
}

.detail__description::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
