.home__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home__title {
  font-size: 2rem;
  color: white;
  margin: 4rem 0 3rem 0;
}

.home-viewtype {
  border: none;
  background-color: transparent;
  color: white;
}

.home-viewtype:hover {
  cursor: pointer;
}
