.map__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-explain__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.map-explain {
  margin-top: 1rem;
  font-style: italic;
  font-size: 0.8rem;
  padding: 1rem;
  color: white;
}

.explain-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-explain__tips {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px;
  font-size: 0.9rem;
  font-style: normal;
}

.map {
  width: 700px;
  max-width: 80vw;
  height: 350px;
}

.place__infowindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: white;
}

.place__infowindow > hr {
  margin: 0;
  width: 100%;
}

.place__infowindow:hover {
  cursor: pointer;
}

.map-radio__container {
  display: flex;
  justify-content: center;
}

.map__detail {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 30px;
  margin-left: 20px;
  height: 60vh;
  width: 250px;
  word-break: keep-all;
}

.map-detail__img-btn__container {
  height: 4vh;
  width: 100%;
  position: relative;
}

.prev,
.next {
  position: absolute;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.map-detail__img-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.map-detail__img-btn:hover {
  cursor: pointer;
}

.map__detail-clear {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.map__detail-clear:hover {
  cursor: pointer;
}

.place-type__map {
  margin-top: 1rem;
  padding: 3px;
  border-radius: 5px;
}

.check-geolocation {
  margin: 1rem 0;
  border: none;
  background-color: transparent;
  color: white;
}

.check-geolocation:hover {
  cursor: pointer;
}

.marker__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.marker__detail > hr {
  width: 100%;
  margin: 0;
}

.map__container a {
  text-decoration: none;
  color: unset;
}

.map__container a:active {
  transform: scale(0.98);
}

.map__container a:visited {
  color: unset;
}

@media screen and (max-width: 680px) {
  .map {
    height: 250px;
  }
  .place__infowindow {
    font-size: 0.7rem;
  }
  .map-explain {
    font-size: 0.7rem;
  }
}
