.tips-box {
  justify-content: flex-start;
  overflow: auto;
}

.tips-box::-webkit-scrollbar {
  width: 5px;
}

.tips-box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.tips__list {
  font-size: 0.9rem;
  list-style-type: none;
  padding: 0.5rem;
}

.tips__list li {
  word-break: keep-all;
  line-height: 22px;
  margin-bottom: 8px;
}

.maker-int {
  margin-bottom: 1rem;
}

.maker-int ul {
  padding: 0;
}

.maker-int li {
  line-height: 25px;
  list-style: none;
}

.maker-int__name {
  font-size: 0.8rem;
  margin: 1rem 0;
}

.maker-icons__container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.maker-icons {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
