@import "css/variables.css";
@import "css/Home.css";
@import "css/Auth.css";
@import "css/Post.css";
@import "css/Map.css";
@import "css/Map-detail.css";
@import "css/List.css";
@import "css/Pagination.css";
@import "css/Detail.css";
@import "css/Tips.css";
@import "css/Modal.css";
@import "css/Navigation.css";
@import "css/Profile.css";
@import "css/AddMyPlace.css";
@import "css/LoadingSpinner.css";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--seacolor);
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.app__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.prev,
.next {
  position: absolute;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.copyright {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
