@import "css/variables.css";
@import "css/Home.css";
@import "css/Auth.css";
@import "css/Post.css";
@import "css/Map.css";
@import "css/List.css";
@import "css/Pagination.css";
@import "css/Detail.css";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--seacolor);
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.app__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
